@model GetAGame.Models.Item
<h1>Add Item</h1>
<div class="card">

    <div class="card-body">
        <form asp-controller="AddItem" asp-action="AddProcess">
            <div class="form-group">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" type="text" class="form-control" placeholder="Enter title" required>
            </div>
            <div class="form-group">
                <label asp-for="ImgURL">ImageURL</label>
                <input asp-for="ImgURL" type="url" class="form-control" placeholder="Enter url" required>
            </div>
            <div class="form-group">
                <label asp-for="Details" for="exampleFormControlTextarea1">Details</label>
                <textarea asp-for="Details" class="form-control" rows="3" required></textarea>
            </div>
            <div class="form-group">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" type="number" class="form-control" placeholder="Enter Price" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>